.page {
  text-align: center;
}

.hero {
  background-color:  #f5efe1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.h {
  color: #000;
  display: block;
  text-align: left;
}